.dd{id: 'menu-constructor', 'data-menu-name': params[:menu_name] }
  %ol.dd-list
    - @menu_items.each do |item|
      %li.dd-item{ 'data-item-id': item.id }
        .dd-handle
          .item-title= item.title
          .item-url= item.url
          - active = item.active
          - checked = 'no'
          - if active
            - checked = 'yes'
          .item-active= check_box_tag 'is-active', checked, active
.btn.btn-default{ id: 'action_add_item_menu' } Add menu item
%a.btn.btn-primary{ id: 'action_apply_menu' } Apply changes
