%div
  %table.table.table-bordered.table-hover{ id: 'menu-constructor', 'data-menu-name': params[:menu_name] }
    %tr
      %th Title
      %th Url
      %th Active
    - @menu_items.each do |item|
      %tr.draggable{ 'data-item-id': item.id }
        %td= item.title
        %td= item.url
        %td= item.active
.btn.btn-default{ id: 'action_add_item_menu' } Add menu item
%a.btn.btn-primary{ id: 'action_apply_menu' } Apply changes
