%h1= "Version control for #{params[:item_type]}"
- if @items.count > 0
  %table.table.table-bordered.table-hover
    - if params[:item_type].capitalize == 'Article'
      =render 'articles_versions'
- else
  Nothing yet...

