showAppMessage('<strong>Success!</strong> Image added!', 'success');
- if remotipart_submitted?
  showAppMessage('<strong>Success!</strong> submitted via remotipart!', 'success');
- else
  showAppMessage('<strong>Success!</strong> submitted via native jquery-ujs!', 'success');
