//= require_tree .
//= require_self

/*
@import 'gallery/responsive/elastislide';
@import 'gallery/responsive';
@import 'gallery/slideshow';
@import 'gallery/galleria/classic';
@import 'gallery/touch_touch';
*/

@import "bootstrap-sprockets";
@import "bootstrap";

#wrapper {
  padding-top: 50px;
}

#wrapper,
#menu_wrapper,
#footer {
  max-width: 1000px;
  margin: 0 auto;
}

#main-data {
  margin: 10px;
}

#top_menu {
  margin: 0 auto;
  width: 97%;
}

#footer {
  border-top: 1px solid #ccc;
  padding: 15px;
  margin-top: 10px;
  font-size: 11px;
}

#forbidden-div {
  margin-top: 10px;
}

.paginator {
  margin: 0 auto;
}

.message {
  position: fixed;
  z-index: 1000;
  opacity: 0.9;
  right: 0;
  margin-right: 20px;
  max-width: 30%;
  margin-top: 10px;
}

.message-item:hover {
  opacity: 0.5;
}

.dropdown-menu {
  z-index: 1001;
}

.nav-custom {
  list-style: none; 
  text-decoration: none;
  padding: 15px;
  margin-bottom: 0;
}

a.dropdown-toggle:hover {
  text-decoration: none;
}

.img-avatar {
  display: inline-block;
}

.img-avatar img {
  border-radius: 3px;
}

.item img {
  margin: 0 auto;
}

abbr[title] {
  border-bottom: none;
  color: #c9302c;
}
