// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3.item_title {
  margin-top: 0;
  margin-bottom: 10px;
}

.list_item {
  margin-top: 20px;
  margin-bottom: 10px;
}

.create_date {
  font-size: 10px;
  color: #ccc;
}

.item_author {
  font-style: italic;
  font-size: 12px;
}

.actions {
  margin: 10px 0;
}
