%div{id: 'top_menu'}
  .row
    %nav{ class: 'navbar navbar-default navbar-fixed-top', role: 'navigation' }
      .col-md-12
        %div{ id: 'menu_wrapper' }
          = render_navigation(context: :main, expand_all: true, renderer: :bootstrap)
          %form.navbar-form.navbar-left{ role: 'search' }
            .form-group
              %input.form-control{ id: 'search_field', type: 'text', placeholder: 'Search' }
          - if !user_signed_in?
            = render 'layouts/sign_form'
          - else
            = render 'layouts/user_menu'
